.calculadora {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(20, 20, 30, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 300px;
}

.select-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-container label {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.select-container select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    background: #333;
    color: white;
}

#comparePlanetsBtn {
    background: linear-gradient(135deg, #42d392, #647eff);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

#comparePlanetsBtn:hover {
    background: linear-gradient(135deg, #647eff, #42d392);
    transform: scale(1.05);
}

.resultado-comparacion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.resultado-comparacion h2 {
    margin-bottom: 20px;
}

#circulos-container div {
    border-radius: 50%;
    background-color: rgba(100, 149, 237, 0.6);
    display: inline-block;
    border: 2px solid white;
}

#volverBtn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #555;
    color: white;
    cursor: pointer;
    border: none;
}

#volverBtn:hover {
    background: #777;
}
#volverBtn2 {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(100, 149, 237, 0.6);
    color: white;
    cursor: pointer;
    border: none;
}

#volverBtn2:hover {
    background: #777;
}
a{
    display: inline-block;
    text-align: center;
}